.lfg-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  max-height: 90vh; 
  overflow-y: auto; 
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

.lfg-entry {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.lfg-entry h2 {
  margin-top: 0;
}

.lfg-form {
  display: flex;
  flex-direction: column;
}

.lfg-form input,
.lfg-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.lfg-form button {
  background-color: #141414; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.lfg-form button:hover {
  background-color: #FF4D00; 
}

.replies {
  margin-top: 10px;
  padding-left: 20px;
}

.reply {
  border-left: 2px solid #ccc;
  padding-left: 10px;
  margin-bottom: 10px;
}
