
#tabs{
    color: white;
    padding-right: 30px;
}

#tabs:hover{
    color: #FF4D00;
}

#Title{
    color: white;
    font-size: 1.5rem;
    
}

#innertabs:hover{
    color: #FF4D00;
}

.Navbar{
    background-color: #141414;
}