.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 95vh;
    overflow-y: auto;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    display: block;
  }
  
  .button {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  
  button {
    background-color: #141414;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #FF4D00;
  }
  
  @media (max-width: 600px) {
    .button {
      flex-direction: column;
    }
  
    .button button {
      margin-bottom: 1rem;
    }
  
    .button button:last-child {
      margin-bottom: 0;
    }
  }